<footer style="user-select: none;">
  <br><br><br>
  <div>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
      <li><a href="#">
          <img class="ico" src="../../../../assets/facebook.png" alt="">
        </a></li>
      <li><a href="#">
          <img class="ico" src="../../../../assets/twitter.png" alt="">
        </a></li>
      <li><a href="#">
          <img class="ico" src="../../../../assets/linkedin.png" alt="">
        </a></li>
      <li><a href="#">
          <img class="ico" src="../../../../assets/instagram.png" alt="">
        </a></li>
    </ul>
  </div>
    <p>All Rights Reserved</p>
</footer>
